.container{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #eeeeee;
  width: 100%;
}

.main-chart{
  width: 80%;
  height: 60%;
  border: 1px solid red;
  margin: 0 auto;
  display: flex;
  gap: 20px;
  justify-content: space-around;
}

.main-chart>div:nth-child(1){
  width: 20%;
  border: 1px solid red;
}

.main-chart>div:nth-child(1)>div, table{
  border: 1px solid blue;
}

.main-chart>div:nth-child(2){
  width: 60%;
  border: 1px solid black;
}

.info-select-day{
  width: 80%;
  border: 1px solid red;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.info-select-day td{
  padding: 10px;
}


.info-content{
  border: 1px solid red;
  width: 80%;
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

.temp-chart{
  width: 60%;
  border: 1px solid black;
  margin: 15px;
}

.select-box{
  border: 1px solid black;
  margin: 15px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 30%;
  align-items: center;
}

.sub-function{
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  gap: 50px;
  width: 80%;
}

.sub-function>div{
  border: 1px solid black;
  margin: auto;
}

.sub-function>div:nth-child(1){
  width: 10%;
}
.sub-function>div:nth-child(3){
  width: 40%;
}

.comp-div{
  display: flex;
  flex-direction: column;
  border: 1px solid red;
  width: 80%;
  margin: 0 auto;
}

.comp-div>div{
  border: 1px solid blue;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  justify-content: space-between;
  width: 100%;
}
.comp-div>div>div{
  border: 1px solid black;
}

.comp-div>div>div:nth-child(1){
  width: 30%;
}
.comp-div>div>div:nth-child(2){
  width: 30%;
}
.comp-div>div>div:nth-child(3){
  width: 30%;
}

.comp-div table{
  margin: 0 auto;
}

.simple-view{
  width: 80%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 50px;
  align-content: space-between;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.simple-view>div{
  border: 1px solid gray;
}

.sub-line-div{
  width: 5000px;
}