.requires-div{
  height: 100%;
}

.requires-list-div{
  background-color: white;
  height: 30%;
  width: 80%;
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sales-list-div>h4{
  margin-top: 20px;
}

.done-table>thead>tr{
  padding: 20px;
}