.sales-div{
  height: 100%;
}


.sales-list-div > h4 {
  margin-top: 50px;
  font-size: 24px;
}
.sales-list-div{
  background: white;
  width: 80%;
  height: 80%;
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 15px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sales-list-div>table>thead>tr>td{
  padding: 10px;
  font-weight: bold;
  color: #3E3E3E;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  font-size: 16px;
  font-family: 'Pretendard-Regular';
}

.simple-notice{
  width: 90%;
  height: 60px;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f3f6f8;
  border-radius: 10px;
}

.simple-notice p {
  color: #333352;
  font-size: 16px;
  font-weight: 600;
}

.simple-notice strong {
  color: #53505f;
  font-size: 16px;
}


.done-table{
  width: 90%;
  height: 600px;
  margin: 0 auto;
}