.sales-div{
  height: 100%;
}

.sales-list-div{
  background-color: white;
  height: 30%;
  width: 80%;
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h4{
  margin-top: 20px;
}

.simple-notice{
  margin: 0 auto;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}