<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="orderMapper">

    <!--상품-->
    <resultMap id="supply" type="com.green.TeamProject2.orders.vo.SupplyVO">
        <id column="SUPPLY_NUM" property="supplyNum"/>
        <result column="SUPPLY_NAME" property="supplyName"/>
        <result column="SUPPLY_PRICE" property="supplyPrice"/>
        <result column="SUPPLY_STANDARD" property="supplyStandard"/>
        <result column="SUPPLIER" property="supplier"/>
        <result column="SUPPLY_CAUTION" property="supplyCaution"/>
        <collection property="contractList" resultMap="contract"/>
    </resultMap>

    <!--상품 상세 정보-->
    <resultMap id="contract" type="com.green.TeamProject2.orders.vo.ContractVO">
        <id column="CONTRACT_NUM" property="contractNum"/>
        <result column="SUPPLY_NUM" property="supplyNum"/>
        <result column="CONTRACT_DATE" property="contractDate"/>
        <result column="CONTRACT_AMOUNT" property="contractAmount"/>
        <result column="CONTRACT_OUTPUT" property="contractOutput"/>
    </resultMap>

    <!--상품 등록-->
    <insert id="regSupply">
        INSERT INTO SUPPLY
        (SUPPLY_NAME
        , SUPPLY_PRICE
        , SUPPLY_STANDARD
        , SUPPLIER
        , SUPPLY_CAUTION
        )
        VALUES
        (#{supplyName}
        , #{supplyPrice}
        , #{supplyStandard}
        , #{supplier}
        , #{supplyCaution}
        )
    </insert>

    <!--상품 리스트-->
    <select id="getSupplyList" resultMap="supply">
        SELECT *
        FROM SUPPLY
        LEFT JOIN CONTRACT
        ON SUPPLY.SUPPLY_NUM = CONTRACT.SUPPLY_NUM
    </select>

    <!--상품 삭제-->
    <delete id="deleteSupply">
        DELETE
        FROM SUPPLY
        WHERE SUPPLY_NUM = #{supplyNum}
    </delete>

    <!--상품 수정-->
    <update id="updateSupply">
        UPDATE SUPPLY
        SET SUPPLY_NAME = #{supplyName}
        , SUPPLY_PRICE = #{supplyPrice}
        , SUPPLY_STANDARD = #{supplyStandard}
        , SUPPLIER = #{supplier}
        , SUPPLY_CAUTION = #{supplyCaution}
        WHERE SUPPLY_NUM = #{supplyNum}
    </update>

    <!--상세 상품 정보 보기-->
    <select id="detailSupply" resultMap="contract">
        SELECT *
        FROM SUPPLY, CONTRACT
        WHERE SUPPLY.SUPPLY_NUM = #{supplyNum}
        AND CONTRACT.CONTRACT_DATE = #{contractDate}
        AND SUPPLY.SUPPLY_NUM = CONTRACT.SUPPLY_NUM
        ORDER BY CONTRACT_DATE
    </select>

    <!--상품 상세 정보 추가-->
    <insert id="regDetailContract">
        INSERT INTO CONTRACT
        (CONTRACT_DATE
        , SUPPLY_NUM
        , CONTRACT_AMOUNT
        , CONTRACT_OUTPUT
        )
        VALUES
        (#{contractDate}
        , #{supplyNum}
        , #{contractAmount}
        , #{contractOutput}
        )
    </insert>

    <!--상품의 주문된 날짜만 뽑아 오기-->
    <select id="getSupplyDate" resultMap="supply">
        SELECT *
        FROM supply, CONTRACT
        WHERE supply.SUPPLY_NUM = CONTRACT.SUPPLY_NUM
        AND supply.SUPPLY_NUM = #{supplyNum}
        ORDER BY CONTRACT_DATE
    </select>

    <!--거래처-->
    <resultMap id="customer" type="com.green.TeamProject2.orders.vo.CustomerVO">
        <id column="CUSTOMER_NUM" property="customerNum"/>
        <result column="CUSTOMER_LI" property="customerLi"/>
        <result column="CUSTOMER_NAME" property="customerName"/>
        <result column="CUSTOMER_HEAD_NAME" property="customerHeadName"/>
        <result column="CUSTOMER_ADDRESS" property="customerAddress"/>
        <result column="CUSTOMER_TEL" property="customerTel"/>
        <result column="CUSTOMER_EMAIL" property="customerEmail"/>
        <result column="CUSTOMER_ETC" property="customerEtc"/>
    </resultMap>

    <!--거래처 등록-->
    <insert id="regCustomer">
        INSERT INTO CUSTOMER
        (CUSTOMER_LI
        , CUSTOMER_NAME
        , CUSTOMER_HEAD_NAME
        , CUSTOMER_ADDRESS
        , CUSTOMER_TEL
        , CUSTOMER_EMAIL
        , CUSTOMER_ETC
        )
        VALUES
        (#{customerLi}
        , #{customerName}
        , #{customerHeadName}
        , #{customerAddress}
        , #{customerTel}
        , #{customerEmail}
        , #{customerEtc}
        )
    </insert>

    <!--거래처 리스트-->
    <select id="getCustomerList" resultMap="customer">
        SELECT *
        FROM CUSTOMER
    </select>

    <!--거래처 삭제-->
    <delete id="deleteCustomer">
        DELETE
        FROM CUSTOMER
        WHERE CUSTOMER_NUM = #{customerNum}
    </delete>

    <!--거래처 수정-->
    <update id="updateCustomer">
        UPDATE CUSTOMER
        SET CUSTOMER_LI = #{customerLi}
        , CUSTOMER_NAME = #{customerName}
        , CUSTOMER_HEAD_NAME = #{customerHeadName}
        , CUSTOMER_ADDRESS = #{customerAddress}
        , CUSTOMER_TEL = #{customerTel}
        , CUSTOMER_EMAIL = #{customerEmail}
        , CUSTOMER_ETC = #{customerEtc}
        WHERE CUSTOMER_NUM = #{customerNum}
    </update>

    <!--발주된 주문서 리스트-->
    <resultMap id="orderForm" type="com.green.TeamProject2.orders.vo.OrderFormVO">
        <id column="ORDER_NUM" property="orderNum"/>
        <result column="ORDER_DATE" property="orderDate"/>
        <result column="SUPPLY_NUM" property="supplyNum"/>
        <result column="ORDER_AMOUNT" property="orderAmount"/>
        <result column="CUSTOMER_NUM" property="customerNum"/>
        <result column="ORDER_MANGER" property="orderManger"/>
        <association property="customerVO" resultMap="customer"/>
        <collection property="supplyList" resultMap="supply"/>
    </resultMap>

    <!--주문서 얻기-->
    <select id="getOrderForm" resultMap="orderForm">
        SELECT *
        FROM ORDER_FORM, CUSTOMER, SUPPLY
        WHERE ORDER_FORM.SUPPLY_NUM = SUPPLY.SUPPLY_NUM
        AND ORDER_FORM.CUSTOMER_NUM = CUSTOMER.CUSTOMER_NUM
    </select>

    <!--처리 중 주문서 얻기-->
    <resultMap id="doneForm" type="com.green.TeamProject2.orders.vo.DoneFormVO">
        <id column="DONE_NUM" property="doneNum"/>
        <result column="DONE_DATE" property="doneDate"/>
        <result column="DONE_MANGER" property="doneManger"/>
        <association property="orderFormVO" resultMap="orderForm"/>
    </resultMap>

    <!--처리 중 주문서 얻기-->
    <select id="getDoneForm" resultMap="doneForm">
        SELECT *
        FROM ORDER_FORM, DONE_FORM, supply, customer
        WHERE ORDER_FORM.ORDER_NUM = DONE_FORM.ORDER_NUM
        AND order_form.SUPPLY_NUM = supply.SUPPLY_NUM
        AND order_form.CUSTOMER_NUM = customer.CUSTOMER_NUM
    </select>

<!--    &lt;!&ndash;처리 주문서 등록&ndash;&gt;-->
<!--    <insert id="regDoneForm">-->
<!--        INSERT INTO DONE_FORM-->
<!--        (-->
<!--        )-->
<!--        VALUES-->
<!--        (-->
<!--        )-->
<!--    </insert>-->

    <!--발주 처리 진행-->
    <!--발주된 주문서를 선택하면 처리된 주문서 리스트에 등록하고
    그 주문서에서 상품을 찾고 재고를 찾고 -->

</mapper>































