<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="patTempMapper">

    <resultMap id="patTemp" type="com.green.TeamProject2.patient.vo.PatTempVO">
        <id column="TEMP_NUM" property="tempNum"/>
        <result column="TEMP" property="temp"/>
        <result column="TEMP_DATE" property="tempDate"/>
        <result column="DATE" property="date"/>
        <result column="HOUR" property="hour"/>
        <result column="MINUTE" property="minute"/>
        <result column="MONTH" property="month"/>
        <result column="DAY" property="day"/>
    </resultMap>

    <!--해당 환자의 전체 온도 데이터 조회-->
    <select id="getAll" resultMap="patTemp">
        SELECT *
        FROM pat_temp
    </select>

    <!--오늘 날짜인 환자의 체온 정보 10개를 받아올 쿼리-->
    <select id="getAllPatTemp" resultMap="patTemp">
        SELECT *
        FROM (
            SELECT *
            FROM pat_temp
            WHERE DATE(TEMP_DATE) = #{tempDate}
            ORDER BY TEMP_DATE DESC
            LIMIT 10
        ) AS NEW_TEMP
        ORDER BY TEMP_DATE
    </select>

    <!--오늘 날짜인 최대 온도를 받아올 쿼리-->
    <select id="getMaxPatTemp" resultMap="patTemp">
        SELECT MAX(TEMP) AS TEMP, TEMP_DATE
        FROM pat_temp
        WHERE DATE(TEMP_DATE) = #{tempDate}
    </select>

    <!--최소 온도를 받아올 쿼리-->
    <select id="getMinPatTemp" resultMap="patTemp">
        SELECT MIN(TEMP) AS TEMP, TEMP_DATE
        FROM pat_temp
        WHERE DATE(TEMP_DATE) = #{tempDate}
    </select>

    <!--전체 값의 평균을 받아올 쿼리-->
    <select id="getAvg" resultMap="patTemp">
        SELECT AVG(TEMP) AS TEMP
        FROM pat_temp
    </select>

    <!--특정 날짜의 평균 쿼리-->
    <select id="getAvgWhen" resultMap="patTemp">
        SELECT AVG(TEMP) AS TEMP
        FROM pat_temp
        WHERE DATE(TEMP_DATE) = #{tempDate}
    </select>

    <!--전체 진료일 수-->
    <select id="getAllDate" resultType="int">
        SELECT COUNT(DISTINCT DATE(TEMP_DATE)) AS DATE_NUM
        FROM pat_temp
    </select>
    
    <!--30분 단위로 끊어서 받아옴-->
    <select id="getDataByM" resultMap="patTemp">
        SELECT DATE(TEMP_DATE) AS DATE
            , HOUR(TEMP_DATE) AS HOUR
            , AVG(TEMP) AS TEMP
            , FLOOR(MINUTE(TEMP_DATE) / 30) * 30 AS MINUTE
        FROM pat_temp
        WHERE DATE(TEMP_DATE)=#{tempDate}
        GROUP BY HOUR(TEMP_DATE)
            , DATE(TEMP_DATE)
            , FLOOR(MINUTE(TEMP_DATE) / 30) * 30
        ORDER BY DATE, HOUR, MINUTE;
    </select>

    <!--60분 단위로 끊어서 받아옴-->
    <select id="getDataByH" resultMap="patTemp">
        SELECT DATE(TEMP_DATE) AS DATE
            , HOUR(TEMP_DATE) AS HOUR
            , AVG(TEMP) AS TEMP
        FROM pat_temp
        WHERE DATE(TEMP_DATE)=#{tempDate}
        GROUP BY HOUR(TEMP_DATE), DATE(TEMP_DATE)
        ORDER BY DATE, HOUR;
    </select>

    <!--현재 시간으로 부터 60분 간의 데이터-->
    <select id="getDuringH" resultMap="patTemp">
        SELECT *
        FROM pat_temp
        WHERE TEMP_DATE BETWEEN #{tempDate} - INTERVAL 1 HOUR
        AND #{tempDate} - INTERVAL 0 MINUTE;
    </select>

    <!--현재 시간으로 부터 30분 간의 데이터-->
    <select id="getDuringM" resultMap="patTemp">
        SELECT *
        FROM pat_temp
        WHERE TEMP_DATE BETWEEN #{tempDate} - INTERVAL 30 MINUTE
        AND #{tempDate} - INTERVAL 0 MINUTE;
    </select>

    <!--전체 진료일 자를 하루 씩 받아 옴-->
    <select id="getAllDateByWeek" resultMap="patTemp">
        SELECT MONTH(TEMP_DATE) AS MONTH, DAY(TEMP_DATE) AS DAY
        FROM pat_temp
        GROUP BY MONTH(TEMP_DATE), DAY(TEMP_DATE)
    </select>
</mapper>































