<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="patTempMapper">

    <resultMap id="patTemp" type="com.green.TeamProject2.patient.vo.PatTempVO">
        <id column="TEMP_NUM" property="tempNum"/>
        <result column="TEMP" property="temp"/>
        <result column="TEMP_DATE" property="tempDate"/>
    </resultMap>

    <!--해당 환자의 전체 온도 데이터 조회-->
    <select id="getAll" resultMap="patTemp">
        SELECT *
        FROM pat_temp
    </select>

    <!--오늘 날짜인 환자의 체온 정보 10개를 받아올 쿼리-->
    <select id="getAllPatTemp" resultMap="patTemp">
        SELECT *
        FROM (
            SELECT *
            FROM pat_temp
            WHERE DATE(TEMP_DATE) = #{tempDate}
            ORDER BY TEMP_DATE DESC
            LIMIT 10
        ) AS NEW_TEMP
        ORDER BY TEMP_DATE
    </select>

    <!--오늘 날짜인 최대 온도를 받아올 쿼리-->
    <select id="getMaxPatTemp" resultMap="patTemp">
        SELECT MAX(TEMP) AS TEMP, TEMP_DATE
        FROM pat_temp
        WHERE DATE(TEMP_DATE) = #{tempDate}
    </select>

    <!--최소 온도를 받아올 쿼리-->
    <select id="getMinPatTemp" resultMap="patTemp">
        SELECT MIN(TEMP) AS TEMP, TEMP_DATE
        FROM pat_temp
        WHERE DATE(TEMP_DATE) = #{tempDate}
    </select>

    <!--전체 값의 평균을 받아올 쿼리-->
    <select id="getAvg" resultMap="patTemp">
        SELECT AVG(TEMP) AS TEMP
        FROM pat_temp
    </select>

    <!--특정 날짜의 평균 쿼리-->
    <select id="getAvgWhen" resultMap="patTemp">
        SELECT AVG(TEMP) AS TMEP
        FROM pat_temp
        WHERE DATE(TEMP_DATE) = #{tempDate}
    </select>
</mapper>































